tenancy_ocid        = "{{ tenancy_ocid }}"
compartment_ocid    = "{{ compartment_ocid }}"
region              = "{{ region }}"
config_file_profile = "{{ config_file_profile }}"
ecpu_count          = {{ ecpu_count }}
